html
  head
    title= "Result"
  body
    div
     h1 Here's part of your results
     h6 plus some html garbage that i could not debug in time
     a(class='button' style='margin-right: 20px;' href='/') Home
     a(class='button' href='/data/risky_pairs.csv') Download Results CSV
    
    div
     span
     #{dataframeHead}